<h2 class="mt-5">Selectores anidados</h2>
<hr />
<form autocomplete="off" [formGroup]="countriesForm" (ngSubmit)="onSubmit()">
  <!-- Continent -->
  <div class="row mb-3">
    <div class="col">
      <label for="continent" class="form-label">Continente</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>
  </div>

  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label for="country" class="form-label">País</label>
      <select class="form-control" formControlName="country">
        <option value="">-- Seleccione País --</option>
        <option *ngFor="let country of countries" [value]="country.cca3">
          {{ country.name.common }}
        </option>
      </select>
    </div>
  </div>

  <!-- Borders -->
  <div class="row mb-3">
    <div class="col">
      <label for="countriesInBorder" class="form-label">Fronteras</label>
      <select class="form-control" formControlName="countriesInBorder">
        <option value="">-- Seleccione País Fronterizo --</option>
        <option *ngFor="let country of countriesInBorder" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>
  </div>

  <!-- Submit -->
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">
        Seleccionar
      </button>
    </div>
  </div>
</form>
<br />
<h3>countriesForm Model</h3>
<pre>Valid: {{ countriesForm.valid }}</pre>
<pre>Value: {{ countriesForm.value | json }}</pre>
